@model IEnumerable<vd11.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamSinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChucVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeHuu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThamNien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VeHuu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThamNien.ThamNienID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NhanVienID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NhanVienID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NhanVienID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
