@model vd11.Models.ThamNien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ThamNien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThamNienLam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThamNienLam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Luong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ThamNienID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
